<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200&icon_names=check,close,cloud_upload,delete_sweep,docs" rel="stylesheet" />
    <link rel="stylesheet" href="/css/notebook.css">
</head>
<body>
    <div class="top-toggle-navbar">
        <div class="toggle-buttons source-button" onclick="show('left')">
            Source
        </div>
        <div class="toggle-buttons chat-button" onclick="show('middle')">
            Chat
        </div>
        <div class="toggle-buttons DIUV-button" onclick="show('right')">
            DIUV
        </div>
    </div>

    <div class="bottom-window">
        <div id="left-container">
            <div class="left-top-upload-container">
                <h3>Upload Files</h3>
                <p style="font-size: 13px; color: #a5a5a5; margin-top: 5px;">Select a file from your computer</p>

                <div class="upload-container" id="customButton">
                    <input type="file" id="fileInput" hidden>
                    <span style="font-size: 30px;" class="material-symbols-outlined">cloud_upload</span>
                    <p style="font-size: 14px; font-weight: 400;">Click To Upload Or Drag And Drop</p>
                    <p style="font-size: 13px; font-weight: 500;color: #a5a5a5;">Choose a file</p>
                    <span style="font-size: 10px;" id="fileName"></span>
                </div>

                <div class="upload-container-footer">
                    <p>Only .pdf and .doc files.</p>
                    <p>Max 20mb file size</p>
                </div>

                <button id="uploadDocSourceBtn">Upload</button>
                <% if (currentNotebook.source.documents) { %>
                    <div style="display: flex; flex-direction: column; gap: 10px;margin-top: 10px;" class="all-files-uploaded-user">
                        <% currentNotebook.source.documents.forEach(docs => { %>
                         <div class="uploaded-file-container">
                            <div class="uploaded-file-left-container">
                                <img style="width: 28px; height: 28px;" src="/images/doc-logo.png" alt="URL Source">
                                <div class="uploaded-file-left-right-container">
                                    <p style="font-size: 15px; font-weight: 500;"><%= docs.filename %></p>
                                    <p style="font-size: 12px; font-weight: 500; color: #a5a5a5;"> <%= Math.round(docs.filesize * 1000) / 1000 %>MB   &nbsp; • &nbsp; <%= new Date(docs.date).toUTCString().slice(17, 22) %></p>
                                </div>
                            </div>
                            <div class="delete-doc-parent-btn">
                                <img style="height: 25px; width: 25px;" class="deleteDocBtn" data-docid="<%= docs.fileID %>" src="/images/delete-logo.png" alt="URL Source">
                            </div>
                        </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <div style="display: flex; flex-direction: column; gap: 10px;margin-top: 10px;" class="all-files-uploaded-user"></div>
                <% } %>
            </div>

            <div style="scrollbar-width: none;" class="left-bottom-url-upload-container">
                <div style="font-size: 13px; font-weight: 500; color: #a5a5a5; padding: 10px 0px;" class="upload-url-heading">Or upload from url</div>

                <div class="url-input-field-container">
                    <input type="text" name="url" id="urlID" placeholder="https://example.com">
                    <button id="uploadedURLBtnID">Upload</button>
                </div>

                <div style="margin-top: 10px;" class="list-url-sources-container">
                    <div class="url-container">
                        <div class="url-left-container">
                            <img style="width: 28px; height: 28px;" src="/images/url-logo.png" alt="URL Source">
                            <div class="url-left-top-container">
                                <p style="font-size: 15px; font-weight: 500;">https://flipcart.com</p>
                                <p style="font-size: 12px; font-weight: 500; color: #a5a5a5;">flipcart.com &nbsp; • &nbsp; Added at 02:48</p>
                            </div>
                        </div>
                        <img style="height: 25px; width: 25px;" src="/images/delete-logo.png" alt="URL Source">
                    </div>
                </div>
            </div>
        </div>

        <div id="middle-container">
            Start Chating
        </div>

        <div id="right-container">
            <div class="right-top-container">
                <h3>Did I understand the video?</h3>
                <div class="paste-youtube-link-container">
                    <input type="text" name="youtubeURL" id="youtubeURLLink" placeholder="https://youtube.com/watch?v=">
                    <button id="uploadYoutubeURL">Upload</button>
                </div>

                <div id="progress-status">
                    <div id="progress-bar"></div>
                </div>
                
                <div class="quiz-container">
                    <!-- <p style="font-size: 15px; text-align: center;font-weight: 500;">This is first question, generated by another nodejs server?</p>

                    <button class="options option-0" onclick="onclick(0)">
                        <span style="text-align: left; padding-right: 10px;">A. This is first question generated by another nodejs server.</span>
                        <div class="circle"><span class="material-symbols-outlined">check</span></div>
                    </button>
                    <button class="options option-1" onclick="onclick(1)">B. Option</button>
                    <div class="explanations explanation-0">
                        <div class="explanation-vertical-line"></div>
                        <p>
                            <font style="font-weight: 500;">Explanation</font>
                            Explanation: Azure workflow typically starts with planning and resource design, followed by provisioning infrastructure using the Azure.
                        </p>
                    </div>
                    <button class="options option-2" onclick="onclick(2)">C. Option</button>
                    <button class="options option-3" onclick="onclick(3)">D. Option</button> -->

                    
                </div>
                <button id="nextQuizBtn" onclick="nextQuiz()">Next</button>
            </div>

            <div class="account-info-container">
                <div class="account-info-container-left-container">
                    <% if (userInfo.googleImageURL) { %>
                        <img src="<%= userInfo.googleImageURL %>" alt="" srcset="">
                        <% } else { %>
                        <div style="width: 40px; height: 40px; border-radius: 50%; display: flex;justify-content: center;align-items: center; color: white;background: #2a2a2a; text-transform: uppercase;" class="profile-image">
                            <%= userInfo.fname.slice(0, 1) %>
                        </div>
                    <% } %>

                    <div class="user-name-email-container">
                        <p style="font-weight: 500;font-size: 14px;"><%= userInfo.username %></p>
                        <p style="color: #a5a5a5;"><%= userInfo.email.slice(0, 15) %>...</p>
                    </div>
                </div>
                <button id="logoutBtn">Logout</button>
            </div>
        </div>
    </div>
</body>
<script src="/javascript/notebook.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/quiz.js"></script>
<script src="/javascript/uploadDocSources.js"></script>
</html>